<a routerLink="/events/create" class="w-full h-full flex flex-col items-center justify-center rounded-md overflow-hidden duration-200 border-accent border-2 text-accent gap-4 cursor-pointer group  hover:bg-accent-dark  hover:shadow-xl hover:border-accent-dark hover:text-white p-4">

  <div class="rounded-full border-accent border-2 flex items-center justify-center w-24 h-24 border-dashed group-hover:border-white duration-200 group-hover:text-white">
    <ng-icon name="remixCalendarCheckLine" class="text-4xl"></ng-icon>
  </div>

  <p class="group-hover:hidden duration-200">Create your own event</p>

  <p class="text-center text-xs px-4 group-hover:block hidden duration-200 text-white italic">This could be your event right here! Let's add your own event within just a few minutes!</p>

</a>
