<div class="page-padding w-full min-h-screen flex flex-col gap-8">

  @if (!event && !this.eventService.isLoadingEvent) {
    <div class="w-full h-full flex items-center justify-center">
      <p class="tracking-wide text-accent-dark text-xl max-w-96 text-center">The event your looking for could not be
        found. Please try again later.</p>
    </div>
  } @else if (event && !this.eventService.isLoadingEvent) {

    <div class="flex xl:flex-row flex-col-reverse xl:gap-32 gap-8 justify-center w-full bg-white rounded-md shadow-xl overflow-hidden animate-fade-up">
      <!-- Info Container -->
      <div class="flex flex-col gap-4 p-4" [ngClass]="event.image ? 'w-full' : 'xl:w-2/3 w-full'">
        <h1 class="text-accent text-3xl font-semibold">{{ event.name }}</h1>
        <p class="text-lg text-gray-400 font-light inline-flex items-center gap-2">
          <ng-icon name="remixCalendar2Line" class="text-lg"></ng-icon>
          <span>{{ event.date.split("T")[0] }}</span>
        </p>
        <p class="text-lg text-gray-400 font-light inline-flex items-center gap-2">
          <ng-icon name="remixTimeLine" class="text-lg"></ng-icon>
          <span>{{ event.time }}</span>
        </p>
        <p class="sm:text-base text-sm font-light">{{ event.description }}</p>

        <div class="mt-auto flex flex-col gap-4 w-full">
          @if (event.tickets_remaining === 0) {
            <!-- SOLD OUT -->
            <span class="text-danger font-semibold text-3xl text-center">SOLD OUT</span>
          } @else {
            <!-- Price per ticket and price remaining -->
            <p class="font-light text-gray-400 inline-flex gap-4 justify-between items-center">
              <span>${{ event.ticket_price / 100 }} USD / Ticket</span>
              <span>{{ event.tickets_remaining }} Tickets Available</span>
            </p>

            <!-- Purchase Ticket(s) link -->
            <a [routerLink]="['/events', event.id, 'purchase-ticket']" class="submit-btn">
              <ng-icon name="remixCouponLine" class="text-lg"></ng-icon>
              Purchase Ticket(s)
            </a>
          }
        </div>
      </div>

      <!-- Image Container -->
      @if (event.image) {
        <div class="xl:max-w-4xl max-w-full">
          <div class="aspect-video relative">
            <img [src]="event.image" alt="Event Image" class="w-full h-full object-center object-cover">
          </div>
        </div>
      }
    </div>
  }

  <div class="animate-fade-up-1 flex flex-col gap-8">
    <hr class="w-full border border-accent">

    <!-- Other Events -->
    <app-other-events [ignoreEventId]="event?.id"></app-other-events>
  </div>



</div>
