<div
  class="fixed top-0 left-0 w-full h-12 px-16 py-2 flex items-center justify-between gap-8 bg-foreground text-white">

  <div class="flex items-center gap-8">
    <a routerLink="/" class="inline-flex gap-2 items-center hover:text-accent-dark duration-200 text-accent">
      <ng-icon name="remixCalendarEventLine" class="text-2xl"></ng-icon>
      <h1 class="text-xl font-semibold">Alumni Events</h1>
    </a>

    <a routerLink="/tickets" class="inline-flex gap-2 items-center hover:text-accent-dark duration-200">
      <ng-icon name="remixCouponLine" class="text-lg"></ng-icon>
      <h1 class="text-base">View Ticket</h1>
    </a>

    <a routerLink="/tickets/use" class="inline-flex gap-2 items-center hover:text-accent-dark duration-200">
      <ng-icon name="remixCouponLine" class="text-lg"></ng-icon>
      <h1 class="text-base">Use Ticket</h1>
    </a>
  </div>

  <div class="flex items-center gap-8">
    <a routerLink="/login" class="inline-flex gap-2 items-center hover:text-accent-dark duration-200">
      <ng-icon name="remixLoginBoxLine" class="text-lg"></ng-icon>
      <h1 class="text-base">Login</h1>
    </a>
    <a routerLink="/signup" class="submit-btn">
      <ng-icon name="remixLoginCircleLine" class="text-lg"></ng-icon>
      <h1 class="text-base">Signup</h1>
    </a>
  </div>

</div>
