<div class="page-padding flex items-center justify-center w-full h-screen">
  <div class="max-w-96 w-full">
    <form [formGroup]="loginForm" class="form-container" (ngSubmit)="handleLoginSubmit()">

      <div>
        <h1 class="text-accent text-center text-2xl ">Login</h1>
        <p class="input-label italic text-sm text-center">Welcome back, let's manage your events!</p>
      </div>
      <hr class="border w-full border-accent">

      <div class="input-container">
        <label for="email" class="input-label">EMAIL:</label>
        <input id="email" formControlName="email" type="email" class="input-bar" placeholder="Email (johndoe@example.com)" required>
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-danger text-sm">
          <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']">Valid email is required.</span>
        </div>
      </div>

      <div class="input-container">
        <label for="password" class="input-label">PASSWORD:</label>
        <input id="password" formControlName="password" type="password" class="input-bar" placeholder="Password (******)" required minlength="6">
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger text-sm">
          <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</span>
        </div>
      </div>

      @if (this.authService.loginError) {
        <p class="text-sm text-danger text-center">{{ this.authService.loginError }}</p>
      }

      <button class="submit-btn" [ngClass]="{'bg-accent-dark! cursor-not-allowed!' : this.authService.isLoggingIn}" type="submit" [disabled]="this.authService.isLoggingIn">
        <ng-icon name="remixLoginBoxLine" class="text-lg"></ng-icon>
        Login
      </button>
    </form>
  </div>
</div>
