<div class="w-full h-full bg-secondary shadow-md flex flex-col p-4 rounded-md gap-4">

  <!-- Event Info -->
  <header class="flex flex-col gap-2">
    <h5 class="text-xl text-accent font-semibold hover:text-accent-light hover:underline w-fit cursor-pointer">
      <a [routerLink]="['/events', ticket.event_id]">{{ eventName }}</a>
    </h5>
    <p class="text-lg text-gray-400 font-light inline-flex items-center gap-2">
      <ng-icon name="remixCalendar2Line" class="text-lg"></ng-icon>
      <span>{{ eventDate.split("T")[0] }}</span>
    </p>
    <p class="text-lg text-gray-400 font-light inline-flex items-center gap-2">
      <ng-icon name="remixTimeLine" class="text-lg"></ng-icon>
      <span>{{ eventTime }}</span>
    </p>
  </header>

  <!-- QR Code -->
  @if (ticket.qr_code) {
    <img [src]="convertBase64ToImageSource(ticket.qr_code)" alt="Ticket QR Code" class="w-full h-64 object-contain">
  }

  <hr class="border w-full border-accent">

  <!-- Ticket Info -->
  <div class="flex flex-col gap-2 font-light">
    <p>First Name: {{ ticket.first_name }}</p>
    <p>Last Name: {{ ticket.last_name }}</p>
    <p>Email: {{ ticket.email }}</p>
    <p>Code: {{ ticket.code }}</p>
    @if (ticket.used) {
      <p class="text-danger text-lg text-center font-bold">Ticket Used</p>
    }
    @else if (ticket.creator_id === authService.currentUser()?.id) {
      <button class="submit-btn" (click)="handleUseTicket()">Use Ticket</button>

      @if (_useTicketError) {
        <p class="text-danger text-sm text-center font-light">{{ _useTicketError }}</p>
      }
    }

  </div>
</div>
